apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-lab-deployment
  labels:
    app: kube-lab-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: kube-lab-app
  template:
    metadata:
      labels:
        app:  kube-lab-app # error introduced here
    spec:
      containers:
      - name: kube-lab-container
        image: kube-lab-app:v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        env:
          - name: APP_ENV 
            valueFrom:
              configMapKeyRef:
                name: app-config 
                key: APP_ENV
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 5